<!DOCTYPE html>
<html>
<head>
  <title>BasicOnlineMailMerge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="alert-flash">
    <%= link_to "x", "#", style: "float: right; margin-top: 0px; margin-right: 6px; text-decoration; text-decoration: none; z-index:100; position: relative; color:white;", onclick: "$('.alert-flash').hide(); return false;" %>
    <% flash.each do |key, value| %>
      <%= content_tag(:p, value, :class => "#{key}") %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
